/* ################### RESET ################### */
:root{
    --main-font: sans-serif;
    --font-size: 16px;
    --main-color: rgb(154, 205, 50);
    --second-color: rgb(34, 34, 34);
    --main-modal-color: rgba(154, 205, 50, 0.8);
    --second-modal-color: rgba(34, 34, 34, 0.8);
    --container-width: 90vw;
    --main-dark-color: rgba(0, 0, 0, 0.8);
}

html{
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    margin: 0%;
    overflow-x: hidden;
}

img{
    max-width: 100%;
    height: auto;
}

/* ################### Connection ################### */
.online, .offline{
    z-index: 1000;
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color: green;
    color: black;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.offline{
    background-color: rgb(172, 0, 0);
}


/* ################### Information ################### */
.information{
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    background-color: rgb(171, 198, 247);
    color: black;
    padding: 0.5rem;
    border-radius: 1rem;
    align-items: center;
}

.information img{
    height: 3rem;
    width: 3rem;
}

.information p{
    text-align: justify;
    padding-left: 1vw;
    font-size: 12px;
}

a{
    color: black;
}

/* ################### Bottom Buttons ################### */
.bottom-btn{
    z-index: 999;
    position: fixed;
    bottom: 1vh;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    font-size: 2rem;
    font-weight: bold;
    color: var(--second-color);
    cursor: pointer;
    outline: 0;
    border: 0;
}

/* ################### scroll-top ################### */
#scroll-top-btn{
    right: calc(4rem + 2vw);
    transition: all 0.3s ease-out;
}

#scroll-top-btn:hover {
    background-color: var(--second-color);
    color: var(--main-color);
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

/* ################### Burger Menu ################### */
.header{
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color: var(--main-color);
    color: var(--second-color);
}

.header h1{
    margin: 0 auto;
    text-align: center;
}

.panel-btn{
    right: 1vw;
}

.section{
    padding: 2rem;
    padding-top: 4rem; 
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--container-width);
    min-height: 100vh;
    text-align: center; 
} 

.panel{
    position: fixed;
    z-index: 998;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0vw;
    width: 100%;
    background-color: var(--second-modal-color);

    transition: transform 0.5s ease, opacity 0.3s ease;
    opacity: 0;
    transform: translate(-100%, 0);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.panel.is-active{
    transform: translate(0, 0);
    opacity: 1;
}

.menu{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.menu a{
    padding: 1.5rem;
    width: inherit;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--main-color);
    transition: all 0.3s ease;
}

.menu a:hover {
    font-weight: bold;
    color:var(--second-color);
    background-color: var(--main-modal-color);
}


/* ################### Clocl and Alarm ################### */

#alarm-btns{
    padding-top: 1%;
}


/* ################### Keyboard Events ################### */

.stage {
    display: flex;
    min-height: 50vh;
    background-color: var(--second-color);
}

.ball {
    margin: auto;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--main-color);
    /* transition: all 0.1s ease; */
}


/* ################### Responsive ################### */
.explication{
    padding: 2vh;
    background-color: rgb(192, 192, 192);
    color:black;
    border-radius: 3rem;
    margin-bottom: 1rem;
}

/* ################### Form ################### */
.form-inputs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.form-inputs input{
    width: 40%;
    margin-bottom: 1vh;
}

.form-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
}

.form-buttons button{
    margin-left: 0.5vw;
}

/* ################### Device Detector ################### */
#user-device li{
    margin-bottom: 2vh;
    text-align: left;
}

#user-device p{
    margin: 0;
}



/* ################### dark-mode ################### */
#dark-mode-btn {
    left: 1vw;
}

#dark-mode-btn:hover {
    background-color: var(--second-color);
    color: var(--main-color);
}

.dark-mode {
    background-color: var(--main-dark-color);
    color: var(--main-color);
}
